body{
	margin: 0 auto;
	
}

.formulaire{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid;
	text-align: center;
	width: 50%;
	height: 50%;
	border-radius: 10px;
}

.logo{
	position: absolute;
	left: 50%;
	top: -10%;
	transform: translate(-50%);
	width: 300px;
	height: auto;
	background-color: white;
}

.texte{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.login{
	width: 40%;
	height: 30px;
}

.valide{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 70%;
}